NODE_VERSION=25.8.1
NODE_ENV=development

### Database
DATABASE_URL=

### API
API_URL=
PEPPER_SECRET=
JWT_SECRET=

### Frontend
FRONTEND_LOGIN_URL=

### Email
EMAIL_FROM=
SENDGRID_API_KEY=

### Firebase Admin
FIREBASE_STORAGE_BUCKET=
FIREBASE_CONFIG_PATH=./firebase.json
# or
FIREBASE_SERVICE_ACCOUNT_JSON=