NODE_ENV=development

### Database
DATABASE_URL=

### API
PEPPER_SECRET=
JWT_SECRET=

### Email
EMAIL_FROM=
FRONTEND_LOGIN_URL=
MAIL_USER=
MAIL_PASS=

### Firebase Admin
FIREBASE_STORAGE_BUCKET=
FIREBASE_CONFIG_PATH=./firebase.json
# or
FIREBASE_SERVICE_ACCOUNT_JSON=